@model TeamA.Models.MembershipType

@{
    ViewData["Title"] = $"Details on {@Model.MembershipTypeName}";
}

<h2>Details on @Model.MembershipTypeName</h2>

<div>
    <h4>Membership Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MembershipTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MembershipTypeName)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatioToFull)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatioToFull)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MembershipTypeName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
